* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 5px 200px;
  border: 5px solid pink;
}
header {
  border: 2px solid black;
}

main {
  height: auto;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.card {
  width: 200px;
  border: 2px dotted green;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
}
.information {
  text-align: center;
}

footer {
  border: 2px solid black;
  text-align: center;
}

button {
  padding: 7px 45px;
  background-color: #3882f6;
  border-radius: 5px;
  border: 2px solid #3882f6;
  color: white;
}

.display-flex {
  display: flex;
}
.flex-gap {
  gap: 10px;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-align-items-center {
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* combinators */

header nav p {
  font-size: 24px;
  color: #f9faf8;
}
header nav ul {
  list-style-type: none;
  min-width: 200px;
}

header nav ul li {
  margin-left: 10px;
}

header nav ul a {
  text-decoration: none;
  color: white;
}

header,
.hero,
footer {
  background-color: #1f2937;
  color: white;
}

main section {
  border: 2px dashed blue;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero .hero-img {
  background-color: #e5e7eb;
  width: 500px;
  height: 200px;
}

.information .h-info {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.card .card-square {
  border: 3px solid #3882f6;
  border-radius: 2px;
  margin: auto auto;
  max-width: 150px;
  max-height: 104px;
}
.card .card-square img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.quote {
  background-color: #e5e7eb;
}

.quote .b-quotes {
  size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  padding: 40px;
}

.quote .someoneFamous {
  text-align: left;
  margin: auto;
}

.advertise {
  background-color: white;
}

.advertise .signUp-container {
  background-color: #3882f6;
  border-radius: 5px;
  color: white;
  padding: 25px 50px;
}

.advertise .signUp-container button {
  border: 2px solid #e5e7eb;
}
