* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

header {
  /* box model */
  width: 500px;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 20px;
}

main {
  width: 500px;
  height: auto;
  border: 2px solid red;
  margin-bottom: 10px;
  padding: 10px;
}

.card {
  width: 200px;
  border: 2px dotted green;
  margin-bottom: 10px;
  padding: 10px;
}

footer {
  width: 500px;
  border: 2px solid black;
}

button {
  padding: 7px 45px;
  background-color: #3882f6;
  border-radius: 5px;
  border: 2px solid #3882f6;
  color: white;
}

/* combinators */

header nav p {
  font-size: 24px;
  color: #f9faf8;
}
header nav ul {
  list-style-type: none;
}

header nav ul a {
  text-decoration: none;
  color: white;
}

main section {
  width: 500px;
  border: 2px dashed blue;
  padding: 10px;
  margin-bottom: 10px;
}

.information .h-info {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.quote {
  background-color: #e5e7eb;
}

.quote .b-quotes {
  size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.quote .someoneFamous {
  text-align: right;
  margin: auto;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

header,
.hero,
footer {
  background-color: #1f2937;
  color: white;
}
